*,*::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
   background: rgba(34, 15, 10, 0.8);
  color: #111;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(34, 15, 10, 0.8);
  z-index: 1000;
  padding: 5px 0;
  box-shadow: 0 1px 4px rgba(0,0,0,0.06);
}

.navbar .nav-links {
  list-style: none;
  margin: 0;
  padding: 0.75rem 1rem;
  display: flex;
  gap: 1.25rem;
  align-items: center;
  justify-content: space-evenly;
  border: #ffff 2px solid;
  border-radius: 5px;
}

.navbar .nav-links li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 650;
}

.hero-text {
  position: relative;
  height: 50vh;
  background: url("https://cdn1.ozone.ru/s3/multimedia-1-c/7480482852.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 90px;
  padding-top: 80px;
  color: #fff;
}

.hero-text::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  background: rgba(22, 10, 7, 0.8);
  border: 1px solid #fff;
  border-radius: 11px;
  padding: 6px 70px;
  max-width: 650px;
  text-align: center;
  margin-bottom: -27px;
}

.hero-text h1 {
  position: relative;
  z-index: 2;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.3;
  color: #ffffff;
  text-align: center;
  margin: 0;
}

.hero-content p {
  font-size: 1.1rem;
  font-weight: 500;
  font-style: italic;
}

.slider-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 0;
  background: #f8f8f8;
}

.slider-container {
  display: flex;
  gap: 20px; /* spacing between left and right image */
  flex-wrap: wrap; /* allows responsiveness */
  justify-content: center;
  align-items: center;
}

.slide {
  position: relative;
  flex: 1 1 300px; /* allows slide to shrink/expand */
  max-width: 400px;
}

.slide img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  object-fit: cover;
}

/* Buttons */
.slide button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(34, 15, 10, 0.7);
  border: none;
  color: #fff;
  font-size: 2rem;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 2;
}

/* Left image button */
.slide .prev {
  left: 0; /* stick to left edge of its div */
}

/* Right image button */
.slide .next {
  right: 0; /* stick to right edge of its div */
}
