*,*::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f30404;
  color: #111;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #f30404;
  z-index: 1000;
  padding: 5px 0;
  box-shadow: 0 1px 4px rgba(0,0,0,0.06);
}

.navbar .nav-links {
  list-style: none;
  margin: 0;
  padding: 0.75rem 1rem;
  display: flex;
  gap: 1.25rem;
  align-items: center;
  justify-content: space-evenly;
  border: #ffff 1px solid;
  border-radius: 5px;
}

.navbar .nav-links li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 650;
}

.hero-text {
  position: relative;
  height: 50vh;
  background: url("https://cdn1.ozone.ru/s3/multimedia-1-c/7480482852.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding-top: 80px;
  color: #fff;
}

.hero-text::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1;
  border-radius: 0;
}

.hero-content {
  position: relative;
  z-index: 2;
  background: rgba(136, 67, 49, 0.8);
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 10px 50px;
  max-width: 650px;
  text-align: center;
}

/* H1 styling */
.hero-content h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
}

/* P styling */
.hero-content p {
  font-size: 1.1rem;
  font-weight: 500;
}
